@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf6f5ff;
}

html {
  font-size: 10px;
  font-family: "PT Sans", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: top;
  flex-wrap: wrap;
}
