/* .container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: top;
  flex-wrap: wrap;
  overflow: hidden; */
  

#project {
  background: linear-gradient(rgba(27, 1, 1, 0.623), rgba(0, 0, 0, 0.5)),
    url(./img/img32.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#project .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  max-width: 3000px;
  margin-top: 0px;
  padding: 10px;
  padding-left: 0px;
}

#project .project-top {
  width: 100%;
  margin: 30px;
}

#project .project-title {
  font-size: 4.33rem;
  font-weight: 700;
  color: white;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#project .project-title span {
  color: blue;
}

#project .project-bottom {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

#project .project-item {
  flex-basis: 22%;
  display: flex;
  width: auto;
  left: -10px;
  /* align-items: flex-start; */
  justify-content: space-evenly;
  text-align: top;
  flex-direction: row;
  padding: 10px;
  border-radius: 10%;
  /* background-image: url(./img/img41.jpg); */
  /* background-size: contain;
  background-repeat: no-repeat; */
  margin:10px;
  float:left;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}

#project .project-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(80deg, #1111117c 0%, #f3f5f62f 100%) ;
  opacity: 0.8;
  z-index: -1;
}

.project-item .picon {
  height: 80px;
  width: 80px;
  margin-top: -40px;
  object-position: center;
  position: relative;
  display: inline-block;
  
}

.project-item .picon img {
  height: 100%;
  width: 100%;
  margin: 5px;
  object-fit: cover;
}

.pdesc h2 {
  color: rgba(158, 158, 159, 0.711);
  font-size: 4.33rem;
  position: relative;
  display: inline-block;
  width: auto;
  /* width: 250px; */
  font-weight: 600;
  margin-top: 12px;
  text-align: center;
  place-content: center;
}

.pdesc p {
  color: rgba(164, 233, 232, 0.833) ;
  font-size: 1.43rem;
  animation-delay: 1.5s;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  font-weight: 600;
  line-height: 25px;
  justify-self: stretch;
  text-shadow: rgba(13, 13, 14, 0.762);
}

@media only screen and (max-width: 300px) {
  #project .project-bottom .project-item {
    flex-basis: 10%;
    margin: 2.5%;
  }
}
