#service {
  /* background:  {
    /* linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) */
  /* ),  */
  /* url(./img/services2.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
}
*/ #service .service {
  flex-direction: column;
  text-align: center;
  max-width: 100vw;
  margin-top: -30px;
  padding: 10px 20px;
}

#service .service-top {
  width: 100vw;
  margin: 40px;
}

#service .section-title {
  font-size: 3.33rem;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

#service .section-title span {
  color: blue;
}

#service .service-top p {
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 2.23rem;
  font-weight: 700;
}

#service .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#service .service-item {
  flex-basis: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-image: url(./img/img4.jpg);
  background-size: cover;
  margin: 5%;
  position: relative;
  z-index: 1;
  border-radius: 32px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 11px 11px 18px #9b9b9b, -11px -11px 18px #ffffff;
}

#service .service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background-image: linear-gradient(80deg, #f9e7fe 0%, #dafcfc 100%);
  opacity: 0.4;
  z-index: -1;
}

.service-item .icon {
  height: 80px;
  width: 80px;
  margin-bottom: -52px;
  justify-content: center;
  transition: all 0.3s ease-in;
  box-shadow: 15px 15px 50px #adb5bd75;
}

#service .service-item:hover {
  cursor: pointer;
  box-shadow: none;
}

#service .service-item:hover img {
  transform: scale(1.2);
  color: #f8f9fa;
}

#service .service-item:hover {
  transform: scale(1.01);
  color: #f8f9fa;
}

.service-item .icon img {
  height: 100%;
  width: 100%;
  margin-top: -120px;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

.desc h2 {
  color: white;
  font-size: 4.33rem;
  animation-delay: 1.5s;
  position: relative;
  display: block;
  width: auto;
  font-weight: 600;
  text-align: center;
}

.desc p {
  color: black;
  font-size: 1.53rem;
  animation: 2s ease-in-out infinite;
  animation-delay: 1.5s;
  position: relative;
  display: block;
  width: auto;
  margin-top: 20px;
  font-weight: 600;
  line-height: 25px;
}

@media only screen and (max-width: 768px) {
  #service .service-item {
    display: flex;
    flex-basis: 82%;
    margin: 25%;
    width: 100vw;
  }
}
