.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: top;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#service {
  background: linear-gradient(rgba(0, 0, 0, 0.621), rgba(0, 0, 0, 0.621)),url(./img/img4.jpg);
  background-size: contain;
  background-attachment: scroll;
}
#service .service {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 3000px;
  margin-top: -10px;
  padding: 10px 20px;
  overflow: hidden;
}

#service .service-top {
  width: 100%;
  margin: 10px;
}

#service .section-title {
  font-size: 4.33rem;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  justify-content: center ;
}

#service .section-title span {
  color: blue;
}

#service .service-top p {
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: -15px;
  line-height: 2.23rem;
  font-weight: 700;
  text-align: center;
  color: #768dc7;
}

#service .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#service .service-item {
  flex-basis: 350px;
  flex-shrink: 2;
  width: 1500px;
  height: 480px;
  /* align-items: flex-start; */
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 12px;
  margin: 9%;
  margin-top: 6%;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  border-radius: 32px;
  background: linear-gradient(90deg, #37209dbd 30%, #768dc7d0 70%);
  /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
  /* box-shadow: 11px 11px 18px #9b9b9b, -11px -11px 18px #ffffff; */
  opacity: 0.8;
}
#service ul li{
  align-content: left;
  text-align: left;
  margin-left: 20px;
}

#service .service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
    /* background-image: linear-gradient(80deg, #f9e7fe 0%, #dafcfc 100%); */
  opacity: 0.4;
  z-index: -1;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.service-item .icon {
  height: 80px;
  width: 80px;
  top:0%;
  left: 50%;
  position: absolute;
  transition: all 0.3s ease-in;
  transform: translate(-50%, -50%);
}


#service .service-item:hover {
  cursor: pointer;
  box-shadow: none;
  box-shadow: 11px 11px 18px #9b9b9b, -11px -11px 18px #ffffffc1;
}

#service .service-item:hover img {
  transform: scale(1.2);
  color: #f8f9fa;
}

#service .service-item:hover {
  transform: scale(1.10);
  color: #f8f9fa;
}

.service-item .icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in;
  
}

.desc h2 {
  color: white;
  font-size: 1rem;
  animation-delay: 1.5s;
  position: relative;
  display: inline-flex;
  margin-top: 10%;
  /* left: 20%; */
  width: 80%;
  text-align: center;
  font-weight: 600;
  align-content: center;
  align-self: center;
  }

.desc p {
  color: black;
  font-size: 1.6rem;
  animation: 2s ease-in-out infinite;
  animation-delay: 1.5s;
  position: relative;
  /* display: block; */
  width: 100%;
  margin-top: 12px;
  font-weight: 600;
  line-height: 25px;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  #service .service-item .service-bottom{
    flex-basis: 10%;
    margin: 2.5%;
  }
}